<div class="column is-4">
  <div class="block homeblock">
    <h1>Luca Gasparetto</h1>

    <p>
      Making my transition to the dark side. Born as a Frontend Software
      Engineer, I'm experiencing the backend stack. In love with Ruby on Rails,
      but still a Swift nostalgic. I define myself as a curious person who loves
      learning new technologies and improving his skills to achieve efficiency.
    </p>

    <p>
      I'm trying the blog experience to share my coding achievements and
      hopefully help someone that is struggling on something I've solved.
    </p>

    <p>
      Check my <a href="../notes">articles</a> to discover what I'm learning.
    </p>
  </div>
</div>
